/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 overflow: auto;
 height: auto;
 background-color: silver;
 margin: 0 auto;
 border: 1px solid black;
}
#header{
 height: 150px;
 background-color: green;
 margin: 10px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin: 10px;

}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 float: right;
 margin: 10px;
}

.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 float: left;
 margin: 10px;
}

#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 10px;
}

.clear {
  clear: both;
}
